__pycache__/
*.py[cod]
*.pyo
.Python
.venv/
venv/
env/

uploads/*
results/*
logs/*
models/*.pt
models/*.onnx

!uploads/.gitkeep
!results/.gitkeep
!logs/.gitkeep
!models/.gitkeep

.idea/
.vscode/
.DS_Store
